.order-btn-out{
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	display: flex;
	width: 100%;
}

.order-btn-box{
	display: flex;
	padding: 0.266667rem;
	width: 100%;
	font-size: 15px;
	border-top: solid 1px #ccc;
	align-items: center;
}


.order-btn-price{
	flex:1;
	display: flex;
	color: #e31436;
}

.order-btn{

	background: #e31436;
	margin-right: 0;
	height: 0.933333rem ;
	padding:0 0.666666rem; 
	color: #fff;
	display: flex;
	align-items: center;
	border-radius: 3px;
}

.order-item{
	border: solid 1px red;
	display: flex;
	padding: 0.266667rem 0.266667rem 0.266667rem 0;
}

.order-item-img{
	width: 2.133333rem;
}

.order-item-img img{
	width: 2.133333rem;
}

.order-item-txt{
	margin-right: 20px;
	color: #333;
	font-size: 12px;
}

.order-item-price p:nth-child(1){
	font-size: 13px;
}

.order-item-price p:nth-child(2){
	color: #999;
	font-size: 13px;
}

.order-fee{
	border: solid 1px red;
}

.order-fee-item{
	display: flex;
	padding: 0.266667rem;
	color: #666;
}

.order-fee-item div:nth-child(1){
	flex:1;
}

.address{
	display: flex;
	border: 1px solid red;
    padding: 0.4rem 0.266667rem;
    background-color: #5d5f63;
    color: #fff;
    font-size: 13px;

}

.address-pepo{
	flex:1;
}
.address p{
	display: flex;
}

.address-add{
	margin-top: 0.333333rem;
}

.address-arr{
	width: 14px;
	position: relative;
}

.address-arr:after{
	content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    border: solid 1px #999;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 8px;
    height: 8px;
    transform: translateY(-50%) rotate(45deg);
}





