.recommend{
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
}

.recommend-h{
	padding-bottom: 10px;
}

.recommend-scroll{
	overflow-x: scroll;
}

.recommend ul li{
	float: left;
}

.recommend-item{
	padding-right: 10px;
}

.recommend-item img{
	width: 100%;
}

.recommend-item p{
	text-align: center;
}

.recommend-item-title{
	font-size: 12px;
}

.recommend-item-price span{
	font-size: 13px;
	color: #e73c3c;
}

.recommend-item-price del{
	font-size: 10px;
	color: #999;
}