.devide{
	height: 40px;
	background: #f1f1f1;
	text-align: center;
	line-height: 40px;
}

.devide div span{
}

.devide div{
	border: solid red 1px;
	position: relative;
	padding-left: 29px;
}

.devide div:before{
	content: " ";
	position: absolute;
	height: 1px;
	width: 35px;
	top: 18px;
	left: 12px;
	background: red;
}

.devide div:after{
	content: " ";
	position: absolute;
	height: 1px;
	width: 35px;
	top:18px;
	left:35;
	background: red;
}