.devide{
	height: 40px;
	background: #f1f1f1;
	text-align: center;
	line-height: 40px;
	color:#a6a6a6;
}

.devide div span:nth-child(2){
	font-size: 12px;
	margin-left: 0px;
}

.devide div{
	position: relative;
	width: 49px;
	padding-left: 25px; 
	margin: 0 auto;
}


.devide div:before{
	content: " ";
	position: absolute;
	height: 1px;
	width: 35px;
	top: 18px;
	left: -35px;
	background: #ccc;
}

.devide div:after{
	content: " ";
	position: absolute;
	height: 1px;
	width: 35px;
	top:18px;
	right:-35px;
	background: #ccc;
}