.count{
	height: 2rem;
	width: 8rem;
	position: relative;
	text-align: center;
	line-height: 2rem;
	border-radius: 2px;
	border:1px solid #aaa;
}
.count-minus{
	float: left;
	position: absolute;
	border-right: 1px solid #aaa;
	width: 2rem;
	height: 2rem;
}


.count-minus:after{
	content: " ";
	display: block;
	position: absolute;
	width: 1rem;
	height: 0.05rem;
	left:0.5rem;
	top:1rem;
}

.count-minus-active:after{
	border-bottom: 0.05rem solid #333;
}

.count-minus-disable:after{
	border-bottom: 0.05rem solid #ccc;
}


.count-plus{
	border-left: 1px solid #aaa;
	position: absolute;
	width: 2rem;
	height: 2rem;
	right: 0;
	top: 0;
}


.count-plus:after{
	content: " ";
	display: block;
	position: absolute;
	width: 1rem;
	height: 0.05px;
	border-bottom: 0.05rem solid #333;
	left:0.5rem;
	top: 1rem;
}

.count-plus:before{
	position: relative;
	content: " ";
	display: block;
	width: 1rem;
	height: 0.05px;
	left:0.5rem;
	top: 1rem;
	border-bottom: 0.05rem solid #333;
	transform: rotate(90deg)
}




