.shopping{
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
}

.shopping-collection{
	float: left;
	width: 54px;
	height: 50px;
	background: #fff;
	padding-top: 12px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #666;
    font-size: 12px;
   	padding-top: 25px;
}

.shopping-collection:after{
	content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 17px;
    background: url('../STATIC/img/producticon.png') no-repeat -139px -5px;
    background-size: 200px;
}

.shopping-cart{
	position: relative;
	float: left;
	width: 55px;
	height: 50px;
	background: #fff;
	padding-top: 12px;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
   	padding-top: 25px;
}

.shopping-cart:after{
	content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 17px;
    background: url('../STATIC/img/producticon.png') no-repeat -177px -6px;
    background-size: 200px;
}


.buynow{
	position: fixed;
	line-height: 50px;
	height: 50px;
	background-color: #d22147; 
	color: #fff;
	font-size: 15px;
	right: 0;
	bottom:0;
}

.shopping-addcart{
	font-size: 15px;
	float: left;
	height: 50px;
	background-color: #ff8587;
    color: #fff;
    line-height: 50px;
}

.shop-buttons{
	height: 50px;
	background-color: red;
	width: 265px;
	position: fixed;
	right: 0;
	bottom:0;
}

.shop-buttons div{
	width: 132.5px;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #Fff;
}



